@font-face{font-family:Satoshi;src:url('assets/satoshi-300.woff2') format('woff2');font-weight:300;font-style:normal;font-display:swap}
@font-face{font-family:'General Sans';src:url('assets/general-sans-300.woff2') format('woff2');font-weight:300;font-style:normal;font-display:swap}
@font-face{font-family:'Instrument Sans';src:url('assets/instrument-sans.ttf') format('truetype');font-weight:400 700;font-style:normal;font-display:swap}
@font-face{font-family:Montreal;src:url('../../public/static/fonts/montreal.woff') format('woff');font-display:swap}
@font-face{font-family:'Montserrat Light';src:url('assets/montserrat-latin-300.DSQB8_wE.woff2') format('woff2');font-weight:300;font-display:swap}
